#geopandas

#https://lvis.gsfc.nasa.gov/workshop/LVIS_QGIS_Tutorial_Gabon.pdf

In [3]:
import matplotlib.pyplot 
import numpy as np
import pylab
import pandas as pd
import h5py
import geopandas as gpd
from shapely.geometry import *
from geopandas.geoseries import *

Bring all the data data in

In [4]:
# Geopandas

In [5]:
Trees_RH = gpd.read_file(r'D:\Gabon_Lidar\DATA\shp\Trees_Closest.shp')

In [7]:
#Changing CRS 
Trees_RH_4326= Trees_RH.to_crs(epsg=4326)

In [9]:
Trees_RH.columns

Index(['Join_Count', 'D_LVIS', 'TARGET_FID', 'plot', 'subplot', 'tree_date',
       'family', 'species', 'wsg', 'tree', 'stem', 'epsg', 'x', 'y', 'status',
       'allom_key', 'a_stem', 'h_t', 'h_t_mod', 'd_stem', 'd_stem_val', 'd_ht',
       'm_agb', 'POINT_X', 'POINT_Y', 'LFID', 'SHOTNUMBER', 'TIME', 'GLON',
       'GLAT', 'ZG', 'HLON', 'HLAT', 'ZH', 'TLON', 'TLAT', 'ZT', 'RH10',
       'RH15', 'RH20', 'RH25', 'RH30', 'RH35', 'RH40', 'RH45', 'RH50', 'RH55',
       'RH60', 'RH65', 'RH70', 'RH75', 'RH80', 'RH85', 'RH90', 'RH95', 'RH96',
       'RH97', 'RH98', 'RH99', 'RH100', 'AZIMUTH', 'INCIDENTAN', 'RANGE',
       'COMPLEXITY', 'CHANNEL_L1', 'CHANNEL_ZG', 'CHANNEL_RH', 'POINT_X_1',
       'POINT_Y_1', 'geometry'],
      dtype='object')

In [8]:
Trees_RH.head(3)

,Join_Count,D_LVIS,TARGET_FID,plot,subplot,tree_date,family,species,wsg,tree,...,AZIMUTH,INCIDENTAN,RANGE,COMPLEXITY,CHANNEL_L1,CHANNEL_ZG,CHANNEL_RH,POINT_X_1,POINT_Y_1,geometry
0,1,6.424267,1,NASA01,1,2016-02-03,Euphorbiaceae,Macaranga sp.,0.381789,6501,...,3.37,4.183,7703.11,-999,1,1,1,9.32195,0.554779,POINT (535829.680 61322.481)
1,1,7.669181,2,NASA01,1,2016-02-03,Euphorbiaceae,Macaranga sp.,0.381789,6502,...,3.37,4.183,7703.11,-999,1,1,1,9.32195,0.554779,POINT (535827.853 61327.054)
2,1,9.654939,3,NASA01,1,2016-02-03,Euphorbiaceae,Macaranga sp.,0.381789,6503,...,3.37,4.183,7703.11,-999,1,1,1,9.32195,0.554779,POINT (535829.889 61327.977)

##### Finding AGB

Aboveground Biomass(AGB) is the amount of living matter above the ground. The foumulat bellow is from "Comparison of Small- and Large-Footprint Lidar Characterization of Tropical Forest Aboveground Structure and Biomass: A Case Study From Central Gabon (Silva, et al. 2018)" in it they use AGB (kg) = 0.0673 × (ρ × dbh2 × ht)0.976 they which is Chave formula (Chave , et al. 2015)

AGB (kg) = 0.0673 × (ρ × dbh^2 × ht)^0.976

were dbh is in cm, ht is in m, and ρ is the wood density in g·cm−3.
The total AGB at plot level was then obtained by summing
individual stem biomass estimates and converting it to Mg·ha−1.

Returning to out formula we need the find the ρ which is densentity. The can be found using the

AGB (kg) = 0.0673 × (ρ × dbh^2 × ht)^0.976

were dbh is in cm, ht is in m, and ρ is the wood density in g·cm−3. The total AGB at plot level was then obtained by summing individual stem biomass estimates and converting it to Mg·ha−1.

The wood density came from the following two papers


[1] J. Chave, D. A. Coomes, S. Jansen, S. L. Lewis, N. G. Swenson,
and A. E. Zanne, “Towards a worldwide wood economics spectrum,”
Ecol. Lett., vol. 12, no. 4, pp. 351–366, 2009. [Online]. Available:
https://doi.org/10.1111/j.1461-0248.2009.01285.x
[42] A. E. Zanne et al., Data from: Towards a Worldwide Wood Economics Spectrum, Dryad Digital Repository, 2009. [Online]. Available:
https://doi.org/10.5061/dryad.234

This is bringing in the would density database for the ρ

In [344]:
The would Density in data set is wsg field and it comes from the data set listed above

SyntaxError: invalid syntax (<ipython-input-344-612f2ad48c75>, line 1)

I will be going foward with 0.228 because that is the median value

AGB (kg) = 0.0673 × (0.228 × dbh^2 × ht)^0.976

the next step is to find the hieght. to find the Height I will be using the LVIS for in read that is found next to the

In [348]:
#LVISshot = LVIS[(LVIS.LFID == 1657455174)]

In [ ]:
Ht_mod

In [15]:
Trees_RH['RA_AGB_RHh_t_mod'] = (0.0673*((Trees_RH.wsg)*(Trees_RH.a_stem)*(Trees_RH.h_t_mod)**0.976))

In [16]:
Trees_RH.head

<bound method NDFrame.head of       Join_Count     D_LVIS  TARGET_FID    plot  subplot   tree_date  \
0              1   6.424267           1  NASA01        1  2016-02-03
1              1   7.669181           2  NASA01        1  2016-02-03
2              1   9.654939           3  NASA01        1  2016-02-03
3              1  10.448032           4  NASA01        1  2016-02-03
4              1   7.489962           5  NASA01        1  2016-02-03
...          ...        ...         ...     ...      ...         ...
6627           1   4.794827        6628  NASA23       14  2016-02-21
6628           1   4.721321        6629  NASA23       14  2016-02-21
6629           1   3.696850        6630  NASA23       14  2016-02-21
6630           1   0.323598        6631  NASA23       14  2016-02-21
6631           1   3.057894        6632  NASA23       14  2016-02-21

               family                species       wsg  tree  ...    RANGE  \
0       Euphorbiaceae          Macaranga sp.  0.381789  6501  ...  7703.11
1       Euphorbiaceae          Macaranga sp.  0.381789  6502  ...  7703.11
2       Euphorbiaceae          Macaranga sp.  0.381789  6503  ...  7703.11
3       Euphorbiaceae          Macaranga sp.  0.381789  6504  ...  7703.11
4       Euphorbiaceae          Macaranga sp.  0.381789  6505  ...  7703.11
...               ...                    ...       ...   ...  ...      ...
6627               NA                     NA  0.534143  3903  ...  7719.81
6628               NA                     NA  0.534143  3904  ...  7719.21
6629    Myristicaceae  Pycnanthus angolensis  0.408900  3905  ...  7719.21
6630  Melastomataceae     Dichaetanthera sp.  0.609414  3906  ...  7719.81
6631               NA                     NA  0.534143  3907  ...  7719.21

      COMPLEXITY  CHANNEL_L1  CHANNEL_ZG  CHANNEL_RH  POINT_X_1  POINT_Y_1  \
0           -999           1           1           1   9.321950   0.554779
1           -999           1           1           1   9.321950   0.554779
2           -999           1           1           1   9.321950   0.554779
3           -999           1           1           1   9.321950   0.554779
4           -999           1           1           1   9.321950   0.554779
...          ...         ...         ...         ...        ...        ...
6627        -999           1           1           1   9.316560   0.545585
6628        -999           1           1           1   9.316476   0.545584
6629        -999           1           1           1   9.316476   0.545584
6630        -999           1           1           1   9.316560   0.545585
6631        -999           1           1           1   9.316476   0.545584

                          geometry  RA_AGB_RH100  RA_AGB_RHh_t_mod
0     POINT (535829.680 61322.481)      0.003277          0.003277
1     POINT (535827.853 61327.054)      0.002234          0.002234
2     POINT (535829.889 61327.977)      0.002636          0.002636
3     POINT (535829.928 61328.976)      0.003558          0.003558
4     POINT (535828.814 61326.016)      0.002636          0.002636
...                            ...           ...               ...
6627  POINT (535219.803 60301.826)      0.211827          0.211827
6628  POINT (535218.832 60302.614)      0.230236          0.230236
6629  POINT (535217.843 60302.901)      0.008269          0.008269
6630  POINT (535223.895 60304.172)      0.004601          0.004601
6631  POINT (535211.404 60304.648)      0.058601          0.058601

[6632 rows x 72 columns]>

AGB (kg) = 0.0673 × (ρ × dbh^2 × ht)^0.976

RH100

In [26]:
Trees_RH['RA_AGB_RHh_RH100'] = (0.0673*((Trees_RH.wsg)*(Trees_RH.a_stem)*(Trees_RH.RH100)**0.976))

RH75

In [27]:
Trees_RH['RA_AGB_RH75'] = (0.0673*((Trees_RH.wsg)*(Trees_RH.a_stem)*(Trees_RH.RH75)**0.976))

RH50

In [28]:
Trees_RH['RA_AGB_RH50'] = (0.0673*((Trees_RH.wsg)*(Trees_RH.a_stem)*(Trees_RH.RH50)**0.976))

RH25

In [31]:
Trees_RH['RA_AGB_RH125'] = (0.0673*((Trees_RH.wsg)*(Trees_RH.a_stem)*(Trees_RH.RH25)**0.976))

In [32]:
Trees_RH

,Join_Count,D_LVIS,TARGET_FID,plot,subplot,tree_date,family,species,wsg,tree,...,CHANNEL_RH,POINT_X_1,POINT_Y_1,geometry,RA_AGB_RH100,RA_AGB_RHh_t_mod,RA_AGB_RHh_RH100,RA_AGB_RH75,RA_AGB_RH50,RA_AGB_RH125
0,1,6.424267,1,NASA01,1,2016-02-03,Euphorbiaceae,Macaranga sp.,0.381789,6501,...,1,9.321950,0.554779,POINT (535829.680 61322.481),0.003906,0.003277,0.003906,0.002116,0.001458,0.000628
1,1,7.669181,2,NASA01,1,2016-02-03,Euphorbiaceae,Macaranga sp.,0.381789,6502,...,1,9.321950,0.554779,POINT (535827.853 61327.054),0.002870,0.002234,0.002870,0.001555,0.001071,0.000461
2,1,9.654939,3,NASA01,1,2016-02-03,Euphorbiaceae,Macaranga sp.,0.381789,6503,...,1,9.321950,0.554779,POINT (535829.889 61327.977),0.003278,0.002636,0.003278,0.001776,0.001223,0.000527
3,1,10.448032,4,NASA01,1,2016-02-03,Euphorbiaceae,Macaranga sp.,0.381789,6504,...,1,9.321950,0.554779,POINT (535829.928 61328.976),0.004173,0.003558,0.004173,0.002261,0.001557,0.000671
4,1,7.489962,5,NASA01,1,2016-02-03,Euphorbiaceae,Macaranga sp.,0.381789,6505,...,1,9.321950,0.554779,POINT (535828.814 61326.016),0.003278,0.002636,0.003278,0.001776,0.001223,0.000527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6627,1,4.794827,6628,NASA23,14,2016-02-21,NA,NA,0.534143,3903,...,1,9.316560,0.545585,POINT (535219.803 60301.826),0.060565,0.211827,0.060565,0.007218,NaN,NaN
6628,1,4.721321,6629,NASA23,14,2016-02-21,NA,NA,0.534143,3904,...,1,9.316476,0.545584,POINT (535218.832 60302.614),0.063456,0.230236,0.063456,0.007718,NaN,NaN
6629,1,3.696850,6630,NASA23,14,2016-02-21,Myristicaceae,Pycnanthus angolensis,0.408900,3905,...,1,9.316476,0.545584,POINT (535217.843 60302.901),0.004133,0.008269,0.004133,0.000503,NaN,NaN
6630,1,0.323598,6631,NASA23,14,2016-02-21,Melastomataceae,Dichaetanthera sp.,0.609414,3906,...,1,9.316560,0.545585,POINT (535223.895 60304.172),0.002844,0.004601,0.002844,0.000339,NaN,NaN
6631,1,3.057894,6632,NASA23,14,2016-02-21,NA,NA,0.534143,3907,...,1,9.316476,0.545584,POINT (535211.404 60304.648),0.021080,0.058601,0.021080,0.002564,NaN,NaN

In [ ]:
#matplotlib.pyplot.scatter(LVIS_in_subplots13_22.GLON,LVIS_in_subplots13_22.ZG,color='r') 
matplotlib.pyplot.scatter(LVIS_in_subplots13_22.GLON,LVIS_in_subplots13_22.RH25,color='orange') 
matplotlib.pyplot.scatter(LVIS_in_subplots13_22.GLON,LVIS_in_subplots13_22.RH50,color='y')
matplotlib.pyplot.scatter(LVIS_in_subplots13_22.GLON,LVIS_in_subplots13_22.RH75,color='g')
#matplotlib.pyplot.scatter(LVIS_in_subplots13_22.GLON,LVIS_in_subplots13_22.ZT,color='b')
matplotlib.pyplot.show()

In [350]:
trees

,plot_1,subplot_1,tree_date,family,species,wsg,tree,stem,epsg,x,...,agbd_ha_lo,agbd_ha_up,sn,snd_ha,sba,sba_ha,swsg_ba,h_t_max,geometry,RA_AGB
122,NASA13,10,2016-02-04,Urticaceae,Musanga cecropioides,0.242833,101044,1,32632,539771.5976,...,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35743 0.57666),0.000578

AGB (kg) = 0.0673 × (ρ × dbh^2 × ht)^0.976

In [351]:
#https://automating-gis-processes.github.io/2017/lessons/L3/nearest-neighbour.html

In [352]:
Trees_in_subplots13_22

,plot_1,subplot_1,tree_date,family,species,wsg,tree,stem,epsg,x,...,agbd_ha,agbd_ha_lo,agbd_ha_up,sn,snd_ha,sba,sba_ha,swsg_ba,h_t_max,geometry
0,NASA13,6,2016-02-04,Euphorbiaceae,Anthostema aubryanum,0.330000,5153,1,32632,539756.1937,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35729 0.57681)
1,NASA13,7,2016-02-04,Fabaceae,Millettia sp.,0.696722,100927,1,32632,539756.4196,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35730 0.57662)
2,NASA13,7,2016-02-04,Fabaceae,Millettia sp.,0.696722,100928,1,32632,539756.4196,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35730 0.57662)
3,NASA13,8,2016-02-04,Euphorbiaceae,Crotonogyne sp.,0.543103,100945,1,32632,539756.0424,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35729 0.57653)
4,NASA13,8,2016-02-04,Myristicaceae,Staudtia kamerunensis,0.796529,5186,1,32632,539756.0424,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35729 0.57653)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101285,1,32632,539784.0225,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35754 0.57652)
260,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101286,1,32632,539781.0623,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35752 0.57653)
261,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101287,1,32632,539782.6367,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35753 0.57655)
262,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101288,1,32632,539782.6744,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35753 0.57656)
263,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101289,1,32632,539782.1370,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35753 0.57655)

In [353]:
LVIS_in_subplots13_22

,LFID,SHOTNUMBER,TIME,GLON,GLAT,ZG,HLON,HLAT,ZH,TLON,...,agbd_ha,agbd_ha_lo,agbd_ha_up,sn,snd_ha,sba,sba_ha,swsg_ba,h_t_max,geometry
0,1657455174,11689486,48006.889,9.422888,0.617327,17.89,-999,-999,-999,9.422889,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,"POLYGON ((9.35773 0.57657, 9.35772 0.57634, 9...."
1,1657455174,11689489,48006.892,9.422886,0.617044,17.57,-999,-999,-999,9.422886,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,"POLYGON ((9.35773 0.57657, 9.35772 0.57634, 9...."
2,1657455174,11689490,48006.893,9.422886,0.616949,17.68,-999,-999,-999,9.422886,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,"POLYGON ((9.35773 0.57657, 9.35772 0.57634, 9...."
3,1657455174,11689493,48006.896,9.422884,0.616666,17.46,-999,-999,-999,9.422884,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,"POLYGON ((9.35773 0.57657, 9.35772 0.57634, 9...."
4,1657455174,11689494,48006.897,9.422884,0.616572,17.47,-999,-999,-999,9.422884,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,"POLYGON ((9.35773 0.57657, 9.35772 0.57634, 9...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
823,1657455148,9911421,46228.812,9.330292,0.546591,25.30,-999,-999,-999,9.330292,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,"POLYGON ((9.35773 0.57657, 9.35772 0.57634, 9...."
824,1657455148,9911422,46228.813,9.330293,0.546496,24.39,-999,-999,-999,9.330293,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,"POLYGON ((9.35773 0.57657, 9.35772 0.57634, 9...."
825,1657455148,9911424,46228.815,9.330295,0.546308,26.94,-999,-999,-999,9.330295,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,"POLYGON ((9.35773 0.57657, 9.35772 0.57634, 9...."
826,1657455148,9911425,46228.816,9.330296,0.546213,24.59,-999,-999,-999,9.330296,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,"POLYGON ((9.35773 0.57657, 9.35772 0.57634, 9...."
827,1657455148,9911426,46228.817,9.330297,0.546119,25.45,-999,-999,-999,9.330297,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,"POLYGON ((9.35773 0.57657, 9.35772 0.57634, 9...."

In [354]:
#https://www.listendata.com/2019/07/how-to-filter-pandas-dataframe.html#:~:text=%20Filter%20pandas%20dataframe%20by%20column%20value%20,same%20output.%20It%27s%20just%20a%20different...%20More%20

In [355]:
LVISpoints['geometry'] = LVISpoints_4326.buffer(10)

<ipython-input-355-6f86d7bf745c>:1: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  LVISpoints['geometry'] = LVISpoints_4326.buffer(10)

In [356]:
LVISpoints.head(3)

,LFID,SHOTNUMBER,TIME,GLON,GLAT,ZG,HLON,HLAT,ZH,TLON,...,AZIMUTH,INCIDENTAN,RANGE,COMPLEXITY,CHANNEL_L1,CHANNEL_ZG,CHANNEL_RH,POINT_X,POINT_Y,geometry
0,1657455174,11689486,48006.889,9.422888,0.617327,17.89,-999,-999,-999,9.422889,...,188.40,2.235,7705.33,-999,1,1,1,9.422888,0.617327,"POLYGON ((29.42289 0.61733, 29.41084 0.12665, ..."
1,1657455174,11689489,48006.892,9.422886,0.617044,17.57,-999,-999,-999,9.422886,...,187.58,2.465,7705.35,-999,1,1,1,9.422886,0.617044,"POLYGON ((29.42289 0.61704, 29.41084 0.12637, ..."
2,1657455174,11689490,48006.893,9.422886,0.616949,17.68,-999,-999,-999,9.422886,...,187.34,2.542,7705.95,-999,1,1,1,9.422886,0.616949,"POLYGON ((29.42289 0.61695, 29.41084 0.12627, ..."

In [357]:
TreesRH = gpd.overlay(Trees_in_subplots13_22, LVISpoints, how='intersection')

In [358]:
TreesRH

,plot_1,subplot_1,tree_date,family,species,wsg,tree,stem,epsg,x,...,AZIMUTH,INCIDENTAN,RANGE,COMPLEXITY,CHANNEL_L1,CHANNEL_ZG,CHANNEL_RH,POINT_X_2,POINT_Y_2,geometry
0,NASA13,6,2016-02-04,Euphorbiaceae,Anthostema aubryanum,0.330000,5153,1,32632,539756.1937,...,188.40,2.235,7705.33,-999,1,1,1,9.422888,0.617327,POINT (9.35729 0.57681)
1,NASA13,7,2016-02-04,Fabaceae,Millettia sp.,0.696722,100927,1,32632,539756.4196,...,188.40,2.235,7705.33,-999,1,1,1,9.422888,0.617327,POINT (9.35730 0.57662)
2,NASA13,7,2016-02-04,Fabaceae,Millettia sp.,0.696722,100928,1,32632,539756.4196,...,188.40,2.235,7705.33,-999,1,1,1,9.422888,0.617327,POINT (9.35730 0.57662)
3,NASA13,8,2016-02-04,Euphorbiaceae,Crotonogyne sp.,0.543103,100945,1,32632,539756.0424,...,188.40,2.235,7705.33,-999,1,1,1,9.422888,0.617327,POINT (9.35729 0.57653)
4,NASA13,8,2016-02-04,Myristicaceae,Staudtia kamerunensis,0.796529,5186,1,32632,539756.0424,...,188.40,2.235,7705.33,-999,1,1,1,9.422888,0.617327,POINT (9.35729 0.57653)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218587,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101285,1,32632,539784.0225,...,175.65,2.999,7707.19,-999,1,1,1,9.330297,0.546119,POINT (9.35754 0.57652)
218588,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101286,1,32632,539781.0623,...,175.65,2.999,7707.19,-999,1,1,1,9.330297,0.546119,POINT (9.35752 0.57653)
218589,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101287,1,32632,539782.6367,...,175.65,2.999,7707.19,-999,1,1,1,9.330297,0.546119,POINT (9.35753 0.57655)
218590,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101288,1,32632,539782.6744,...,175.65,2.999,7707.19,-999,1,1,1,9.330297,0.546119,POINT (9.35753 0.57656)
218591,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101289,1,32632,539782.1370,...,175.65,2.999,7707.19,-999,1,1,1,9.330297,0.546119,POINT (9.35753 0.57655)

In [370]:
Trees_in_subplots13_22.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [371]:
LVIS_in_subplots13_22.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [359]:
#https://www.researchgate.net/publication/343217762_Voronoi_diagram_for_polygons

In [372]:
TreesRH = gpd.overlay(Trees_in_subplots13_22, LVIS_in_subplots13_22, how='intersection')

In [373]:
TreesRH

,plot_1,subplot_1,tree_date,family,species,wsg,tree,stem,epsg,x,...,agbd_ha_2,agbd_ha_lo_2,agbd_ha_up_2,sn_2,snd_ha_2,sba_2,sba_ha_2,swsg_ba_2,h_t_max_2,geometry
0,NASA13,6,2016-02-04,Euphorbiaceae,Anthostema aubryanum,0.330000,5153,1,32632,539756.1937,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35729 0.57681)
1,NASA13,7,2016-02-04,Fabaceae,Millettia sp.,0.696722,100927,1,32632,539756.4196,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35730 0.57662)
2,NASA13,7,2016-02-04,Fabaceae,Millettia sp.,0.696722,100928,1,32632,539756.4196,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35730 0.57662)
3,NASA13,8,2016-02-04,Euphorbiaceae,Crotonogyne sp.,0.543103,100945,1,32632,539756.0424,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35729 0.57653)
4,NASA13,8,2016-02-04,Myristicaceae,Staudtia kamerunensis,0.796529,5186,1,32632,539756.0424,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35729 0.57653)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218587,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101285,1,32632,539784.0225,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35754 0.57652)
218588,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101286,1,32632,539781.0623,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35752 0.57653)
218589,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101287,1,32632,539782.6367,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35753 0.57655)
218590,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101288,1,32632,539782.6744,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35753 0.57656)
218591,NASA13,16,2016-02-04,Burseraceae,Aucoumea klaineana,0.377852,101289,1,32632,539782.1370,...,165.41,132.91,205.12,270,1080,5.44,21.76,0.51,33.89,POINT (9.35753 0.57655)